@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white-text: #fff;
    --blue-color: rgb(5, 136, 211);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: var(--blue-color);
    grid-column: 1 / 2;
    padding: 16px;
    color: var(--white-text);
    display: grid;
    grid-template-rows: 5% 45% 50%;
    gap: 32px;
}

svg{
    fill: var(--white-text);
}

.sidebar-header{
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sidebar-header > svg{
    width: 18%;
}

.sidebar-header p{
    font-size: 1.6rem;
    font-weight: 600;
}

.links{
    grid-row: 2 / 3;
}
.account-links{
    grid-row: 3 / 4;
}

.links, .account-links{
    display: grid;
    grid-auto-rows: 50px;
}

.links svg, .account-links svg{
    width: 10%;
}

.links a, .account-links a{
    color: var(--white-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 24px;
}

.right-side{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.right-side .header{
    background-color: var(--white-text);
    grid-row: 1 / 2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.055);
    z-index: 1;
}

.search-area svg{
    width: 10%;
    fill: black;
}

.pfp{
    width: 50px;
    height: auto;
    border-radius: 50%;

}

.pfp-large{
    width: 70px;
    height: auto;
    border-radius: 50%;
}


.main-content{
    background-color: rgb(247, 247, 247);
    grid-row: 2 / 3;
}